# Ignore uni logos in wrong formats
uni-logos/bb
uni-logos/eps
uni-logos/png

# Ignore Feedback files
Feedback

# Ignore temporary files
Main/BuildFiles
Main/_minted-main

# Ignore Linkt to pdf
Main/Thesis.pdf

# Ignore kile viewing directory
Main/.kile

# Ignore Intellij Files
.idea
Written.iml