# Ignore uni logos in wrong formats
uni-logos/bb
uni-logos/eps
uni-logos/png

# Ignore Feedback files
Feedback

# Ignore temporary files
BuildFiles
_minted-main

# Ignore Linkt to pdf
Thesis.pdf

# Ignore kile viewing directory
.kile

# Ignore Intellij Files
.idea
Written.iml
